<h1>All bakery products</h1>
<h3>@Model.BakeryCategory</h3>
<div class=" mt-5 mb-2">

    @{


        foreach (var bakery in Model.AllBakery)
        {

            <h2>@bakery.Name</h2> //Product name:
            <div class="col-lg-4">
                <p><img class="img-thumbnail" src="@bakery.Image" alt="Image" width="500" height="500" /></p>
                <p>@bakery.LongDescription</p>
                <p><b>Price:@bakery.Price.ToString("c")</b></p>
                <p><a class =" btn btn-warning" href="#">More</a></p>
            </div>

        }

    }
</div>



