
    <h1>All bakery products</h1>
    <h3>@Model.BakeryCategory</h3>
    @{
        foreach (var bakery in Model.AllBakery)
        {
            <div>
                <h2>Product name: @bakery.Name</h2>
                <p>Price: @bakery.Price.ToString("c")</p>
            </div>
            }
        }




